<div class="container">

	<div class="row">

		<h4>About The PhiloPet Team!</h4>

	</div>

	<div class="row">

		<ul class="collapsible popout" data-collapsible="accordion">
			<li>
				<div class="collapsible-header"><i class="material-icons">chevron_right</i>Who we are</div>
				<div class="collapsible-body"><span>We are three web developers in training. PhiloPet is a group project created during the last month of dev bootcamp. Combining our best front end and back end efforts we set out to build a tool for pet owners and lovers.</span></div>
			</li>
			<li>
				<div class="collapsible-header"><i class="material-icons">chevron_right</i>Mission</div>
				<div class="collapsible-body"><span>As pet owners ourselves, we know how challengeing it can be to keep up with an animal's needs. We built PhiloPet as a platform to organize and easily display information like diet and health. A key feature is the ability to share a pet's profile with the other humans in your animal's life such as the dog walker, the groomer, the veternarian or any member of the household.</span></div>
			</li>
			<li>
				<div class="collapsible-header"><i class="material-icons">chevron_right</i>Github Links</div>
				<div class="collapsible-body">
					<span>
						<a href=https://github.com/kfanning19> Kristen Fanning </a>
						<br>
						<a href=https://github.com/SusanArend> Susan Heiniger </a> 
						<br>
						<a href=https://github.com/ornibella> Ornella Hernandez </a> 

					</span>
				</div>
			</li>
		</ul>     
	</div>
</div>