        <div class="container">
            <h1>Add a Pet</h1>
            
            <div class="row">
                <form class="col s12" id='addPet-form'>
                    <div class="input-field col s12">
                        <input id="addPet-name" type="text" name="addPet-name" required>
                        <label for="addPet-name" class="active">Name</label>
                    </div>

                    <div class="input-field col s12">
                        <input id="addPet-type" type="text" name="addPet-type" required>
                        <label for="addPet-type" class="active">Type of Animal</label>
                    </div>

                    <div class="input-field col s12">
                        <input id="addPet-breed" type="text" name="addPet-breed">
                        <label for="addPet-breed" class="active">Breed (if known)</label>
                    </div>

                    <div class="input-field col s12">
                        <input id="addPet-DOB" type="date" name="addPet-DOB" class="datepicker">
                        <label for="addPet-DOB" class="active">Date of Birth (Pick your best guess if you aren't sure)</label>
                    </div>

                    <div class="input-field col s12">
                        <input id="addPet-toy" type="text" name="addPet-toy" required>
                        <label for="addPet-toy" class="active">Favorite Toy(s)</label>
                    </div>
                    <div class="input-field col s12">
                        <input id="addPet-image" type="text" name="addPet-image">
                        <label for="addPet-image" class="active">Link to an image of your pet</label>
                    </div>

                    <div class="input-field col s12">
                        <button class="btn add-a-pet-btn waves-effect waves-light" id="addPet-submit" type="submit" name="action">Submit
                        </button>
                    </div>
                </form>
            </div>
        </div>