  <div class="container">

        <div class="row">

        <h4>Frequently Asked Questions</h4>

        </div>

        <div class="row">

            <ul class="collapsible popout" data-collapsible="accordion">
                <li>
                    <div class="collapsible-header"><i class="material-icons">chevron_right</i>How do I add a pet?</div>
                    <div class="collapsible-body"><span>Once logged in, click on the "Add a pet" button on the user profile page. You can add as many pets as you'd like.</span></div>
                </li>
                <li>
                    <div class="collapsible-header"><i class="material-icons">chevron_right</i>How can I share my pet profile with others users?</div>
                    <div class="collapsible-body"><span>Navigate to the Settings tab on your dashboard and scroll to the Share With section. Input the email address of the user you would like to share it with, and the pet profile will be added to their list of pets.</span></div>
                </li>
                <li>
                    <div class="collapsible-header"><i class="material-icons">chevron_right</i>What access do other users have to pets I have shared with them?</div>
                    <div class="collapsible-body"><span>Those with whom the profile is shared can view and edit information.</span></div>
                </li>
                <li>
                    <div class="collapsible-header"><i class="material-icons">chevron_right</i>How can I delete a pet from my profile?</div>
                    <div class="collapsible-body"><span>To delete a pet profile, navigate to the Settings tab on your dashboard and click on the "REMOVE PET" button at the bottom of the page. The pet will remain available to other users even if it is removed from your own profile.</span></div>
                </li>
                <li>
                    <div class="collapsible-header"><i class="material-icons">chevron_right</i>What does the message board do?</div>
                    <div class="collapsible-body"><span>The message board allows users to post messages, notes and updates about your pet. It is a way to virtually interact with the other users who have access to your pet's profile. </span></div>
                </li>
                
            </ul>
            
        </div>
  
    </div>