<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title>PhiloPet</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">	
	<!--     Include in CSS font-family: 'Raleway', sans-serif; -->
	<!--     <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway:600" rel="stylesheet"> -->    
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>

</head>

<body>
	<div class="container" id="greeting-page">
		<div class="row header">
			<div class="col s12 center-align" id="title">
				<a id="greeting-link" class="smooth"></a>
			    <h1 id="landing-header">PhiloPet</h1>
			</div>
		</div>
		<div class="row" id="sign-in">
			<div class="col s10 offset-s1 col m6 offset-m3">
				<form action="/login" method="post">
					<div class="row">
						<h4 class="center-align">For the love of your pets.</h4>
						<br><br><br>
						<div class="input-field col s12">
						     <input id="existing-email" name="username" type="text" class="validate" required>
						    <label for="email">Email</label>
						</div>
					</div>
					<div class="row">
						<div class="input-field col s12">
						    <input id="existing-password" name="password" type="password" class="validate" required>
						    <label for="password">Password</label>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="input-field col s12 center-align">
					    <button class="waves-effect waves-meeshteal btn" type="submit" id="user-login"> SUBMIT </button>
					</div>
				</form>
			</div>
			<div class="col s12 center-align">
			    <span class="flow-text">
			      		<a href="#">Forgot Password?</a> | <a href="#" id="sign-up-link">Create a New Account</a>
				</span>
			</div>
		</div>
	</div>
	
	<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.1/TweenMax.min.js"></script>
	
	<style>
		body {
			font-family: 'Raleway', sans-serif;
		}
	</style>

</body>
</html>