<!DOCTYPE html>
<html>

<head>
    <title>Pet Profile</title>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/css/materialize.min.css">
    <!-- Linking to CSS -->
    <link rel="stylesheet" type="text/css" href="../public/assets/css/style.css">
</head>

<body>
    <div class="container">
        <h3 class="center">Pet Name</h3>
        <div class="row">
            <div class="col s12">
                <ul class="tabs">
                    <li class="tab col s1"><a class="active" href="#dashboard"><i class="material-icons">assessment</i></a></li>
                    <li class="tab col s2"><a href="#activity">Activity</a></li>
                    <li class="tab col s2"><a href="#contacts">Contacts</a></li>
                    <li class="tab col s1"><a href="#diet">Diet</a></li>
                    <li class="tab col s2"><a href="#health">Health</a></li>
                    <li class="tab col s2"><a href="#medications">Medications</a></li>
                    <li class="tab col s2"><a href="#settings">Settings</a></li>
                </ul>
            </div>
            <div id="dashboard" class="col s12">
                <div class="row">
                    <div class="col s6">
                        <div class="row">
                            <div class="col s12" id="pet-info"></div>
                        </div>
                        <div class="row">
                            <div class="col s12" id="root"></div>
                        </div>
                    </div>
                    <div class="col s6">
                        <div id="calendar"></div>
                    </div>
                </div>
            </div>
            <div id="activity" class="col s12">
                <div class="row">
                    <form class="cols 12">
                        <div class="row">
                            <div class="input-field inline col s6">
                                <input id="new-activity" name="new-activity" type="text" class="validate">
                                <label for="new-activity" class="active">Add an Activity</label>
                            </div>
                            <div class="input-field inline col s2">
                                <input type="date" name="activity-date" id="activity-date" class="datepicker">
                                <label for="activity-date" class="active">Date</label>
                            </div>
                            <div class="input-field inline col s2">
                                <input type="date" name="activity-time" id="activity-time" class="timepicker">
                                <label for="activity-time" class="active">Time</label>
                            </div>
                            <button class="btn waves-effect waves-light col s2" type="submit" name="action">Submit
                                <i class="material-icons right">send</i>
                            </button>
                        </div>
                    </form>
                </div>
                <div class="row">
                    <div id="activity-list"></div>
                </div>
            </div>
            <div id="contacts" class="col s12">
                <div class="container" id="contacts-container">
                    <div class="row">
                        <!-- trigger modal -->
                        <a class="waves-effect waves-light btn" href="#contact-modal">Add a Contact</a>
                    </div>
                    <div class="row">
                        <div id="contact-cards">
                        </div>
                    </div>
                </div>
                <!-- Modal -->
                <div id="contact-modal" class="modal  modal-fixed-footer">
                    <div class="modal-content">
                        <h4>Add a Contact</h4>
                        <form class="col s6">
                            <div class="row">
                                <div class="input-field col s12">
                                    <input id="contact_name" type="text" class="validate">
                                    <label for="contact_name">Contact Name</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <input id="contact_service" type="text" class="validate">
                                    <label for="contact_service">Service</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <input id="contact_address" type="text" class="validate">
                                    <label for="contact_address">Address</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <input id="contact_phone" type="number" class="validate">
                                    <label for="contact_phone">Phone Number</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <input id="contact_URL" type="url" class="validate">
                                    <label for="contact_URL">Website</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <input id="email" type="email" class="validate">
                                    <label for="email">Email</label>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <a href="#!" type="submit" class="modal-action modal-close waves-effect waves-green btn-flat">Submit</a>
                    </div>
                </div>
            </div>
        </div>
        <div id="diet" class="col s12"></div>
        <div id="health" class="col s12"></div>
        <div id="medications" class="col s12"></div>
        <div id="settings" class="col s12"></div>
    </div>
    </div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/js/materialize.min.js"></script>
<script type="text/javascript" src="../public/assets/js/app.js"></script>

</html>