/*Color Palette Shortcut

light blue: #d0dfe4
dark blue/green: #33575b
dark brown: #2e0a05
light tan: #ecc78d
lighter tan: #f8eedc;
camel: #ad6a1d
*/


/*Login*/
html {
   min-height: 100%;   
}

body {
	background: url(../../../assets/images/animalsBackground.jpg) no-repeat center bottom;   
}

html, body {
	font-family:'Raleway', sans-serif;
	max-width: 100%;
	overflow-x: hidden;
}

#login-title {
	color: #33575b;
	font-family: 'Ubuntu', sans-serif;
	font-size: 7rem;
}

#login-box {
	padding-top: 5%;
	padding-bottom: 5%;
	border-radius: 25px;
	width: 80%;
	height: 40%;
	background-color: #D0DFE4;
}

.waves-effect.waves {
      background-color: #33575b;
    }

a {
    color: #33575b;
    cursor: pointer;
}
/*Forms*/

/*input field label color*/
.input-field label {
  color: #33575b;
}

/* label focus color */
 .input-field input:focus + label {
   color: #33575b !important;
 }
 /* label underline focus color */
 .row .input-field input:focus {
   border-bottom: 1px #33575b !important;
   box-shadow: 0 1px 0 0 #33575b !important;
 }



@media only screen and (max-width: 600px) {}