/*Color Palette Shortcut

light blue: #d0dfe4
dark blue/green: #33575b
dark brown: #2e0a05
light tan: #ecc78d
lighter tan: #f8eedc;
even lighter tan: #fbf5ea;
camel: #ad6a1d
*/




/*Header*/

a.brand-logo {
  font-size: 50px;
  padding-left: 0px;
}

/*Side Navigation*/

ul#slide-out.side-nav {
    background-color: #fbf5ea;
}

div.divider {
  background-color: #2e0a05 !important;
}

/*Footer*/
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  font-family:'Raleway', sans-serif;
  }

main {
  flex: 1 0 auto;
}

footer.page-footer {
  margin: 0px;
  padding: 0px;
}

nav, .page-footer, .footer-copyright, .page-footer .footer-copyright {
  box-shadow: none;
}

/*Tabs*/
.tabs {
  background-color: #d0dfe4;
}

.tabs .tab a{
    color:#33575b;
    font-size: 2em;
} /*color to the text*/

.tabs .tab a:hover {
    background-color:#d0dfe4;
    color:#33575b;
} /*Text color on hover*/

.tabs .tab a.active {
    background-color:#d0dfe4;
    color:#33575b;
} /*Background and text color when a tab is active*/

.tabs .indicator {
    background-color:#33575b;
} /*Color of underline*/

.indicator {
  background-color: #33575b !important;
}

 li.tab.col.s5 {
  color: #33575b !important;
 }






